// Apply a natural box layout model to all elements
* {
  -moz-box-sizing    : border-box;
  -webkit-box-sizing : border-box;
  box-sizing         : border-box;
  }

// Moves the stupid hubspot button
#QuickPreviewOverlay {
  top                : 0px !important;
}

// Clearfix
.cf:before, .cf:after {
  content            : " ";
  display            : table;
}
.cf:after {
    clear            : both;
}
.cf {
    *zoom            : 1;
}

// Common styles
body {
  font-family        : "proxima-nova","Helvetica Neue","Arial",sans-serif;
  font-size          : 14px;
  line-height        : 18px;
  color              : #666;

  .container {
    width            : 100%;
    text-align       : center;
    padding          : 0;
  }
}

h1, h2, h3, h4 {
  font-family: "museo-slab","Rockwell","Times New Roman",serif;
}

.full {
  display: block;
  width: 100%;
}