// Apply a natural box layout model to all elements

* {
  -moz-box-sizing    : border-box;
  -webkit-box-sizing : border-box;
  box-sizing         : border-box;
  }

// Overrides Hubspot stuff

#QuickPreviewOverlay {
  top: 0px !important;
}

h2.ContainerTitle {
  display: none;
}


// Clearfix

.cf:before, .cf:after {
  content            : " ";
  display            : table;
}
.cf:after {
    clear            : both;
}
.cf {
    *zoom            : 1;
}

// Common styles

body {
  font-family        : "proxima-nova","Helvetica Neue","Arial",sans-serif;
  font-size          : 14px;
  line-height        : 18px;
  color              : #666;
  .container {
    width            : 100%;
    text-align       : center;
    padding          : 0;
  }
}

h1, h2, h3, h4 {
  margin: 16px 0 12px 0;
  font-size: 18px;
  line-height: 130%;
  font-weight: normal;
  text-shadow: white 0 1px 0;
}

h2 {
  margin: 0 0 20px 0;
  font-size: 22px;
}

.full {
  display: block;
  width: 100%;
}

a, a:link, a:visited {
  color: #5d96ff;
}