// footer.scss

#hr-footer {
	background-color: $line-color;
	border-top: 1px #ccc solid;
	padding: 40px 0;
	margin-top: 40px;
	overflow: hidden;
	clear:both;
	
	.BasicContainer & {
		clear: both;
	}
	
	.container {
		width: $container-width;
		text-align: left;
		padding: 0;
		margin: auto;
	}

	.col {
		padding: 20px;
		float: left;
		margin-left: 20px;
	}
	
	a.icon {
		line-height: 32px;
		color: $text-color-alt;
		display: block;
		float: left;
		clear: both;
		
		&:hover {
			opacity: 0.8;
		}
		
		img {
			height: 24px;
			padding-right: 12px;
		}
	}

	#col-one, #col-two {
		a {
			display: block;
			clear: both;
			color: $text-color-alt;
			border-bottom: 1px solid rgba(209, 204, 204, 0.6);
			border-top: 1px solid rgba(255, 255, 255, 0.6);
			padding: 10px 40px 10px 10px;
			&:hover {
				color:$link-color;
			}
			&:last-of-type{
				border-bottom: none;
			}
			&:first-of-type {
				border-top: none;
			}
		}
	}
	#col-four {
		clear: both;
		color: $text-color-light;
		font-size: $small-font-size;
		a {
			color: $text-color-light;
			&:hover {
				color: $link-color;
			}
		}
	}
}

