// footer.scss

#hr-footer {
	background-color: #fafafa;
	border-top: 1px #ccc solid;
	padding: 40px 0;
	margin-top: 40px;
	overflow: hidden;
	width: 960px;
	text-align: left;
	padding: 0;
	margin: auto;
	
	.col {
		width: 30%;
		float: left;
	}
	a.icon {
		line-height: 32px;
		color: #61686b;
		display: block;
		float: left;
		clear: both;
		img {
			height: 24px;
		}
	}

	#col-one {
		a {
			display: block;
			clear: both;
		}
	}
}

