// footer.scss

#hr-footer {
	background-color: #fafafa;
	border-top: 1px #ccc solid;
	padding: 40px 0;
	margin-top: 40px;
	overflow: hidden;
	
	.container {
		width: 960px;
		text-align: left;
		padding: 0;
		margin: auto;
	}

	.col {
		padding: 20px;
		float: left;
	}
	a.icon {
		line-height: 32px;
		color: #61686b;
		display: block;
		float: left;
		clear: both;
		img {
			height: 24px;
			padding-right: 12px;
		}
	}

	#col-one {
		a {
			display: block;
			clear: both;
			color: $text-color-alt;
			border-bottom: 1px solid #f5f5f5;
			border-top: 1px solid #fff;
			padding: 7px;
			&:hover {
				color:$link-color;
			}
		}
		
		a:last-child {
			border-bottom: none;

		}
	}
}

