#hr-header {
  border-bottom : 1px solid #cecece;
  height        : 50px;
  width         : 100%;
}

#nav, #content {
  margin: 0px auto;
  width: 960px;
}

#content {
  margin: 10px auto;
}

#logo {
  float:left;
  padding: 0;
  margin-top: 43px;
  height: 120px;
}

#menu {
  float:right;
}

#menu a {
  display: inline-block;
  font-size: 15px;
  height: 120px;
  line-height: 120px;
  padding: 0 20px;
  color: #616868;

  &:hover {
    background-color: #b9ecff;
    color: #ffffff;
  }
}
