#hr-header {
  border-bottom      : 1px solid #F1F1F1;
  height             : 120px;
  width              : 100%;
}

#nav, #content {
  margin             : 0px auto;
  width              : $container-width;
}

#content {
  margin             : 10px auto;
}

#logo {
  float:left;
  padding: 0;
  padding-top: 22px;
  height: 120px;
}

#menu {
  float              : right;
}

#menu a {
  display            : inline-block;
  font-size          : 15px;
  height             : 120px;
  line-height        : 120px;
  padding            : 0 20px;
  color              : #616868;
  position           : relative;
  -webkit-transition   : background-color .3s ease-in-out;
  -moz-transition      : background-color .3s ease-in-out;
  -o-transition        : background-color .3s ease-in-out;
  -ms-transition       : background-color .3s ease-in-out;
  transition           : background-color .3s ease-in-out;
  
  &:hover {
    background-color: rgba(213, 213, 213, 0.2);
    color            : #616868;
    text-shadow: white 0 1px 0;
  }
  &.selected {
    background-color: rgba(213, 213, 213, 0.36);
    text-shadow: white 0 1px 0;

    .nub {
      font-size           : 0;
      height              : 0;
      line-height         : 0;
      border-style        : solid;
      border-color        : transparent;
      border-width        : 10px 10px 10px 10px;
      border-bottom-color : white;
      position            : absolute;
      z-index             : 5;
      left                : 40%;
      bottom              : 0;
    }
  }
}
