// menu.scss
#wrapper {
  width                  : 960px;
  margin                 : 0 auto;
  padding                : 0;
}
#sidebar {
  width                  : 260px;
  float                  : left;
  clear                  : both;
  .full {
    width                : 260px;
  }
}

#tabs {
  div {
    cursor               : pointer;
    padding              : 14px 0 14px 14px;
    color                : #F83D19;
    -webkit-transition   : background-color .3s ease-in-out;
    -moz-transition      : background-color .3s ease-in-out;
    -o-transition        : background-color .3s ease-in-out;
    -ms-transition       : background-color .3s ease-in-out;
    transition           : background-color .3s ease-in-out;
    border-top: 1px #cecece solid;

    &:hover {
      color              : #fff;
      background-color   : #F83D19;
    }
  }
}


#panels {
  width                  : 700px;
  float                  : left;

  div {
    display              : none;
    opacity              : 0;
    padding              : 0 0 0 40px;

    &.selected {
      opacity            : 1;
      display            : block;
      -webkit-transition : opacity 1s ease-in-out;
      -moz-transition    : opacity 1s ease-in-out;
      -o-transition      : opacity 1s ease-in-out;
      -ms-transition     : opacity 1s ease-in-out;
      transition         : opacity 1s ease-in-out;
    }
  }
}
