// menu.scss
#wrapper {
  width                  : 960px;
  margin                 : 0 auto;
  padding                : 0;
}
#sidebar {
  width                  : 260px;
  float                  : left;
  clear                  : both;
  padding-top: 40px;
  border-right            : 1px solid #f1f1f1;

  .full, .full a {
    width                : 240px;
  }
}

#tabs {
  >div {
    position             : relative;
    cursor               : pointer;
    padding              : 18px 0 18px 14px;
    -webkit-transition   : background-color .3s ease-in-out;
    -moz-transition      : background-color .3s ease-in-out;
    -o-transition        : background-color .3s ease-in-out;
    -ms-transition       : background-color .3s ease-in-out;
    transition           : background-color .3s ease-in-out;
    border-top           : 1px #f1f1f1 solid;
    color                : #333;
    
    &:hover {
      color: #333;
      background-color: rgba(213, 213, 213, 0.2);
    }
    &.selected {
      color                : #F83D19;
      background-color: rgba(213, 213, 213, 0.36);
      
      .nub {
        font-size: 0;
        height: 0;
        line-height: 0;
        border-style: solid;
        border-color: transparent;
        border-width: 10px 10px 10px 0px;
        border-right-color: white;
        position: absolute;
        z-index: 5;
        right: -1px;
        top: 50%;
        margin-top: -10px;
      }
      &:hover {
        color: #333;
        background-color: rgba(213, 213, 213, 0.16);
      }
    }
  }
}

#panels {
  width                  : 700px;
  float                  : left;

  div {
    display              : none;
    opacity              : 0;
    padding              : 0 0 0 40px;

    &.selected {
      opacity            : 1;
      display            : block;
      -webkit-transition : opacity 1s ease-in-out;
      -moz-transition    : opacity 1s ease-in-out;
      -o-transition      : opacity 1s ease-in-out;
      -ms-transition     : opacity 1s ease-in-out;
      transition         : opacity 1s ease-in-out;
    }
  }
}
