/* line 1, ../sass/_header.scss */
body {
  font-family: "proxima-nova","Helvetica Neue","Arial",sans-serif;
  font-size: 100%;
  color: #333;
}
/* line 6, ../sass/_header.scss */
body .container {
  width: 100%;
  text-align: center;
  padding: 0;
}

/* line 2, ../sass/home/_content.scss */
html {
  font-size: 12px;
}

/* line 6, ../sass/main.scss */
#QuickPreviewOverlay {
  top: 0px !important;
}
