/* line 2, ../sass/features/_content.scss */
#wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

/* line 7, ../sass/features/_content.scss */
#tabs {
  width: 260px;
  float: left;
}

/* line 13, ../sass/features/_content.scss */
#panels {
  width: 700px;
  float: left;
}
/* line 17, ../sass/features/_content.scss */
#panels div {
  display: none;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
/* line 26, ../sass/features/_content.scss */
#panels div.selected {
  opacity: 1;
  display: block;
}

/* line 1, ../sass/_header.scss */
body {
  font-family: "proxima-nova","Helvetica Neue","Arial",sans-serif;
  font-size: 100%;
  color: #333;
}
/* line 6, ../sass/_header.scss */
body .container {
  width: 100%;
  text-align: center;
  padding: 0;
}

/* line 13, ../sass/_header.scss */
#header {
  border-bottom: 1px solid #cecece;
  height: 50px;
  width: 100%;
}

/* line 19, ../sass/_header.scss */
#nav, #content {
  margin: 0px auto;
  width: 960px;
}

/* line 24, ../sass/_header.scss */
#content {
  margin: 10px auto;
}

/* line 28, ../sass/_header.scss */
#logo {
  float: left;
  padding: 10px 0px;
}

/* line 33, ../sass/_header.scss */
#menu {
  float: right;
}

/* line 37, ../sass/_header.scss */
#menu a {
  display: inline-block;
  font-size: 15px;
  height: 35px;
  padding: 15px 10px 0px 10px;
  color: #616868;
}
/* line 44, ../sass/_header.scss */
#menu a:hover {
  background-color: #333;
  color: #ffffff;
}

/* line 2, ../sass/home/_content.scss */
html {
  font-size: 12px;
}

/* line 5, ../sass/main.scss */
#QuickPreviewOverlay {
  top: 0px !important;
}

/* line 1, ../sass/_slideshow.scss */
ul.bjqs {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: none;
}

/* line 10, ../sass/_slideshow.scss */
li.bjqs-slide {
  position: absolute;
  display: none;
}

/* line 15, ../sass/_slideshow.scss */
ul.bjqs-controls {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}
/* line 21, ../sass/_slideshow.scss */
ul.bjqs-controls.v-centered li a {
  position: absolute;
}
/* line 24, ../sass/_slideshow.scss */
ul.bjqs-controls.v-centered li.bjqs-next a {
  right: 0;
}
/* line 27, ../sass/_slideshow.scss */
ul.bjqs-controls.v-centered li.bjqs-prev a {
  left: 0;
}

/* line 33, ../sass/_slideshow.scss */
ol.bjqs-markers {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
/* line 38, ../sass/_slideshow.scss */
ol.bjqs-markers.h-centered {
  text-align: center;
}
/* line 41, ../sass/_slideshow.scss */
ol.bjqs-markers li {
  display: inline;
}
/* line 43, ../sass/_slideshow.scss */
ol.bjqs-markers li a {
  display: inline-block;
}

/* line 49, ../sass/_slideshow.scss */
.bjqs-caption {
  display: block;
  width: 400px;
  height: 100%;
  margin: 0;
  padding: 8px;
  position: absolute;
  bottom: 0;
  top: 0;
}
/* line 58, ../sass/_slideshow.scss */
.bjqs-caption p {
  padding: 8px;
}

/* line 64, ../sass/_slideshow.scss */
ol.bjqs-markers li a {
  padding: 5px 10px;
  background: #000;
  color: #fff;
  margin: 5px;
  text-decoration: none;
}
/* line 71, ../sass/_slideshow.scss */
ol.bjqs-markers li.active-marker a, ol.bjqs-markers li a:hover {
  background: #999;
}
