/* line 3, ../sass/_header.scss */
body {
  font-family: "proxima-nova","Helvetica Neue","Arial",sans-serif;
  font-size: 62.5%;
  color: #333;
}

/* line 2, ../sass/home/_content.scss */
html {
  font-size: 12px;
}
