#home-content{
  margin-top: 20px;
}

h3 {
  padding-top: 14px;
  border-top: 1px $line-color dashed;
}
#images {
  display: inline-block;
  height: 60px;
  margin: 0 7px 0 20px;
  width: 100px;
}


#amn_healthcare {
  @extend #images;

  background: url("http://employer-cdn.identified.com/images/amn_healthcare_grayscale.png") no-repeat;
}

#pinstripe_healthcare {
  @extend #images;

  background: url("http://employer-cdn.identified.com/images/pinstripe_healthcare_grayscale.png") no-repeat;
}

#kelly_healthcare {
  @extend #images;

  background: url("http://employer-cdn.identified.com/images/kelly_healthcare_grayscale.png") no-repeat;
  width: 131px;
}

#cornerstone_healthcare {
  @extend #images;

  background: url("http://employer-cdn.identified.com/images/cornerstone_healthcare_grayscale.png") no-repeat;
  width: 166px;
}

#accolo {
  @extend #images;

  background: url("http://employer-cdn.identified.com/images/accolo_grayscale.png") no-repeat;
  width: 81px;
}

#md_enterprises {
  @extend #images;

  background: url("http://employer-cdn.identified.com/images/md_enterprises_grayscale.png") no-repeat;
}

#radnet {
  @extend #images;

  background: url("http://employer-cdn.identified.com/images/radnet_grayscale.png") no-repeat;
}

#allied_health_search {
  @extend #images;

  background: url("http://employer-cdn.identified.com/images/allied_health_search_grayscale.png") no-repeat;
  margin-right: 0;
}

#healthrecruit-information {
  margin: 10px 0;
  color: #7f0102;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  font-family: "museo-slab","Rockwell","Times New Roman",serif;
  font-style: normal;
}

#customer-quotes {
  div {
    padding-top: 14px;
    float: left;
    padding: 10px 0;
    width: 48%;
    padding-bottom: 20px;
    
    &:last-child{
      float: right;

    }
    
    &:first-letter { 
      float: left; 
      font-size: 75px; 
      line-height: 62px; 
      padding-top: 4px; 
      padding-right: 8px; 
      padding-left: 3px; 
      font-family: "museo-slab","Rockwell","Times New Roman",serif;
      }
  }

}

#early-adopters {
  p {
    padding-bottom: 10px;
  }
  div {
    margin: 0 auto;
    width: 400px;
  }

  .first-group {
    width: 800px;
  }
}

#airs {
  @extend #images;

  background: url("http://employer-cdn.identified.com/images/airs_grayscale.png") no-repeat;
  margin-right: 0;
  width: 200px;
}

#nahcr {
  @extend #images;

  background: url("http://employer-cdn.identified.com/images/nahcr_grayscale.png") no-repeat;
  margin-right: 0;
  width: 200px;
}

#tmp_worldwide {
  @extend #images;

  background: url("http://employer-cdn.identified.com/images/tmp_worldwide_grayscale.png") no-repeat;
  margin-right: 0;
  width: 200px;
}

#staffing_industry_analysts {
  @extend #images;

  background: url("http://employer-cdn.identified.com/images/staffing_industry_analysts_grayscale.png") no-repeat;
  height: 93px;
  margin-right: 0;
  width: 200px;
}

