#slideshow {
  width: 100%;
  max-width: 100% !important;
  height: 360px;
  max-height: 360px;
  background-color: #fff;
}

ul.bjqs {
  position: relative;
  list-style: none;
  height: 360px !important;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: none;
  width: 960px !important;
  display: block;
  margin: 0 auto;
  img {
    width: 960px !important;
    height: 360px !important;
  }
}

li.bjqs-slide {
  position: absolute;
  display: none;
}

ul.bjqs-controls {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
  &.v-centered li {
    a {
      position: absolute;
    }
    &.bjqs-next a {
      right: 0;
    }
    &.bjqs-prev a {
      left: 0;
    }
  }
}

ol.bjqs-markers {
  list-style: none;
  padding: 0px 0px 5px 0px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 960px;
  margin: 0 auto;
  &.h-centered {
    text-align: center;
  }
  li {
    display: inline;
    a {
      display: inline-block;
    }
  }
}

.bjqs-caption {
  background-color: transparent;
  display: block;
  width: 300px;
  height: 360px;
  margin: 0;
  padding: 8px;
  position: absolute;
  bottom: 0;
  top: 0;
  p {
    font-size: 25px;
    line-height: 30px;
    padding: 8px;
  }
}

ol.bjqs-markers li {
  a {
    border-radius: 8px;
    padding: 8px;
    background: #ccc;
    color: #fff;
    margin: 5px;
    text-decoration: none;
  }
  
  &.active-marker a, a:hover {
    background: #333;
  }
}